.create-account-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.account-form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 11px;
  border-radius: 7px;
  border: 1px solid black;
  max-width: 400px;
}

.form {
  display: flex;
  max-width: 360px;
  flex-direction: column;
  background-color: white;
  padding: 10px;
}

.form input {
  padding: 8px;
  font-size: 18px;
  margin: 3px;
}

.showborder {
  border-radius: 4px;
  box-shadow: 1px 1px 3px orange, -1px -1px 3px orange;
  border: none;
  outline: none;
}

.form > button {
  padding: 7px;
  margin: 5px;
  background-color: rgb(233, 215, 59);
  border: none;
  font-size: 18px;
  border-radius: 5px;
}

@media (max-width: 790px) {
  .account-form-container {
    margin-top: 60px;
  }
}
